.headline{
    margin-top: 40px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.headline img{
    z-index: 0;
    max-width: 1220px;
}


@media screen and (max-width: 1220px) {
    .headline img{
        width: 1100px;
    }
}

@media screen and (max-width: 1100px) {
    .headline img{
        width: 900px;
    }
}
@media screen and (max-width: 900px) {
    .headline img{
        width: 700px;
    }
}

@media screen and (max-width: 400px) {
    .headline img{
        width: 330px;
        margin-top: 0px;
    }
}