:root{
  --dark-blue: #0878FF;
  --light-blue: #E7F6FD;
}

@font-face {
  font-family: "Satoshi-Variable";
  src: local("Satoshi-Variable"), url(./fonts/Satoshi-Variable.ttf) format('opentype');
}
@font-face {
  font-family: "Satoshi-VariableItalic";
  src: local("Satoshi-VariableItalic"), url(./fonts/Satoshi-VariableItalic.ttf) format('opentype');
}
@font-face {
  font-family: "Gambetta-Variable";
  src: local("Gambetta-Variable"), url(./fonts/Gambetta-Variable.ttf) format('opentype');
}
@font-face {
  font-family: "Gambetta-VariableItalic";
  src: local("Gambetta-VariableItalic"), url(./fonts/Gambetta-VariableItalic.ttf) format('opentype');
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
}

h1{
  font-family: Satoshi-Variable;
  font-size: 100px;
  font-weight: 1;
  line-height: 90px;
}

h2{
  font-family: Satoshi-Variable;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 300;
}

h3{
  font-family: Satoshi-Variable;
  font-weight: 600;
}

a{
  font-family: Satoshi-Variable;
  line-height: 24px;
  text-decoration: none;
  color: var(--dark-blue);
}

p{
  font-family: Satoshi-Variable;
  line-height: 24px;
}

.subHead1{
  font-family: Gambetta-VariableItalic;
  font-size: 40px;
  font-weight: 400;
}

.subHead2{
  font-family: Gambetta-VariableItalic;
  font-size: 24px;
  font-weight: 300;
}

@media screen and (max-width: 1165px) {

  h1{
    font-size: 90px;
  }
  
}

@media screen and (max-width: 400px) {

  h1{
    font-size: 80px;
  }
  
}